# sequence

종류: str, list, tuple, bytes
sequence는 indexing이랑 len이랑 가능

In [1]:
3//2 #몫이구낭

1

In [5]:
nam = "Power"

In [7]:
nam[1:3]

'ow'

In [ ]:
#list to string

In [11]:
a =["1","2","3","4"]
b = "".join(a) #iterable string을 한꺼번에 표현해 줄 때
print(b)

1234

In [12]:
b = ""

In [15]:
string = b.join(a)

In [16]:
string

'1234'

### 가운데 글자 가져오기

In [17]:
def getstring(s):
    num = len(s)
    if num%2==1:
        answer = s[num//2]
    else:
        answer = s[num//2-1:num//2+1]
    return answer

In [27]:
string = "Bamsun"
getstring(string)

'ms'

### 2016년 a월 b일이 무슨 요일인지 리턴하는 함수

In [26]:
def dayreturn(a, b):
    day = ["THU","FRI","SAT","SUN","MON","TUE","WED"]
    month = [31,29,31,30,31,30,31,31,30,31,30,31]
    return day[(sum(month[:a-1]) + b) % 7]

In [28]:
dayreturn(7,21)

'THU'

### 중복숫자지우기

In [25]:
def onlynumber(arr): 
    answer = []
    answer.append(arr[0])
    b = [arr[n] for n in range(1,len(arr)) if arr[n] != arr[n-1]]
    answer = answer+b
    return answer

In [29]:
number =[1,2,2,2,4,5,6,6,6,7,7,9]
onlynumber(number)

[1, 2, 4, 5, 6, 7, 9]